#banners {
  background-color: #e2e2e2 !important;
  height: 20.7vh;

  img {
    height: 100%;
  }

  .center-text {
    padding-top: 25px;
  }
}

.error-message-container {
  height: 60vh !important;
  padding-top: 5rem;
  a {
    color: #0084e0;
  }
  p {
    font-size: 1.3rem;
    text-align: center;
  }
}
