.product {
  img {
    margin: 0;
  }

  .list-price {
    text-decoration: line-through;
    margin-right: 2%;
    color: #9e9ea1;
  }

  .final-price {
    color: #d1030f !important;
  }
  .discount {
    color: #3c7b00;
  }
}
