.header {
  padding: 1.5rem 0 0 1.5rem !important;
  margin-bottom: 0 !important;
}

.border-right-box {
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.product {
  .final-price {
    color: #d1030f !important;
    font-size: 35px;
    line-height: 45px;
  }

  .list-price {
    text-decoration: line-through;
    margin-right: 2%;
    font-size: 1.2rem;
  }

  .discount {
    color: #3c7b00;
    font-size: 1.2rem;
  }
}

.payment-information {
  border: 1px solid #dfdfdf;
  padding: 15px;
  text-align: left;
  margin: 15px 0 0 0;

  legend {
    font-weight: 600;
  }
  a {
    display: block;
    color: #0084e0;
    text-align: left;
    font-size: 14px;
    line-height: 35px;
  }

  .promo-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 35px;
    margin-top: 15px;
    text-align: left;
  }
  .paymenth-methods {
    height: 35px;
    width: auto;
  }

  .benefits {
    color: #0f7300;
  }

  .promo-list li {
    list-style: disc;
    text-align: left;
    margin-left: 1rem;
  }
}
